<% layout('layouts/boilerplate') -%>
<div class="container-fluid text-center align-middle">
    <br>
    <h1 class="text-center mr-1 text-black m-5 fw-bold">Welcome to urlShorten!</h1>
    <button type="button" class="btn btn-primary btn-lg m-5">Log In</button>
</div>


